<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->


<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="lunz.web" type="Lunz.Web.Configuration.LunzWebSection, Lunz.Web" requirePermission="false" restartOnExternalChanges="true" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ak" value="fjcjZuIlfCKhi2bIKwjvGYd8" />
    <add key="ResourceItemPath" value="/Content/images/threesixty" />
  </appSettings>
  <connectionStrings>
    <add name="EDT_DBEntities" connectionString="metadata=res://*/EDT.csdl|res://*/EDT.ssdl|res://*/EDT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.28.43.49;initial catalog=edt-stage;persist security info=True;user id=edt-stage;password=on35e5xb;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <log4net>
    <logger name="Default">
      <level value="ALL" />
      <appender-ref ref="AdoNetAppender_SqlServer" />
    </logger>
    <appender name="AdoNetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
      <!--log信息记录的缓冲大小 -->
      <bufferSize value="1" />
      <!--数据库连接字符串 -->
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=115.28.43.49;initial catalog=edt-stage;integrated security=false;persist security info=True;User ID=edt-stage;Password=on35e5xb" />
      <!--数据库插入 -->
      <commandText value="INSERT INTO Basic_Logs([Id],[LogLevel],[Message],[LogTime]) Values( NEWID(),@log_level,@message,@log_date)" />
      <!--日志级别 -->
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <!--日志信息 -->
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <!--当前日期 -->
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
    </appender>
  </log4net>
  <unity>
    <typeAliases>
      <typeAlias alias="request" type="Lunz.Web.Unity.HttpRequestLifetimeManager, Lunz.Web" />
    </typeAliases>
    <containers>
      <container>
        <types>
          <type type="Lunz.Data.EDT.EDT_DBEntities, Lunz.Data.EDT" mapTo="Lunz.Data.EDT.EDT_DBEntities, Lunz.Data.EDT">
            <lifetime type="request"></lifetime>
          </type>
          <!--BEGIN APPLICATION SERVICES-->
          <type type="Lunz.Services.EDT.IApplicationService, Lunz.Services.EDT" mapTo="Lunz.Services.EDT.ApplicationService, Lunz.Services.EDT" />
          <!--END APPLICATION SERVICES-->
          <!--BEGIN MEMBERSHIP SERVICES-->
          <type type="Lunz.Services.EDT.IMembershipService, Lunz.Services.EDT" mapTo="Lunz.Services.EDT.MembershipService, Lunz.Services.EDT" />
          <type type="Lunz.Authentication.IAuthenticationServcie, Lunz.Authentication" mapTo="Lunz.Authentication.UserCenterService, Lunz.Authentication" />
          <!--END MEMBERSHIP SERVICES-->
          <!--BEGIN BASIC SERVICES-->
          <type type="Lunz.Services.EDT.IResourceItemService, Lunz.Services.EDT" mapTo="Lunz.Services.EDT.ResourceItemService, Lunz.Services.EDT" />
          <!--END BASIC SERVICES-->
          <!--BEGIN IProductDefinitionService SERVICES-->
          <type type="Lunz.Services.EDT.IProductDefinitionService, Lunz.Services.EDT" mapTo="Lunz.Services.EDT.ProductDefinitionService, Lunz.Services.EDT" />
          <!--END IProductDefinitionService SERVICES-->
          <!--BEGIN ProductContractService SERVICES-->
          <type type="Lunz.Services.EDT.IProductContractService, Lunz.Services.EDT" mapTo="Lunz.Services.EDT.ProductContractService, Lunz.Services.EDT" />
          <!--END ProductContractService SERVICES-->
          <!--BEGIN Log SERVICES-->
          <type type="Lunz.Services.EDT.ILogService, Lunz.Services.EDT" mapTo="Lunz.Services.EDT.LogService, Lunz.Services.EDT" />
          <!--END Log SERVICES-->
          <!--BEGIN Log SERVICES-->
          <type type="Lunz.Services.EDT.ILogsService, Lunz.Services.EDT" mapTo="Lunz.Services.EDT.LogsService, Lunz.Services.EDT" />
          <!--END Log SERVICES-->
          <!--BEGIN Basic_DataDictionary SERVICES-->
          <type type="Lunz.Services.EDT.IDataDictionaryService, Lunz.Services.EDT" mapTo="Lunz.Services.EDT.DataDictionaryService, Lunz.Services.EDT" />
          <!--END Basic_DataDictionary SERVICES-->
          <!--BEGIN Basic_Announcement SERVICES-->
          <type type="Lunz.Services.EDT.IAnnouncementService, Lunz.Services.EDT" mapTo="Lunz.Services.EDT.AnnouncementService, Lunz.Services.EDT" />
          <!--END Basic_Announcement SERVICES-->
          <!--BEGIN Basic_BankInfo SERVICES-->
          <type type="Lunz.Services.EDT.IBankInfoService, Lunz.Services.EDT" mapTo="Lunz.Services.EDT.BankInfoService, Lunz.Services.EDT" />
          <!--END Basic_BankInfo SERVICES-->
          <!--BEGIN Basic_CompanyInfo SERVICES-->
          <type type="Lunz.Services.EDT.ICompanyInfoService, Lunz.Services.EDT" mapTo="Lunz.Services.EDT.CompanyInfoService, Lunz.Services.EDT" />
          <!--END Basic_CompanyInfo SERVICES-->
        </types>
      </container>
    </containers>
  </unity>
  <lunz.web>
    <membership authTokenTimeout="60" />
    <images path="~/upload/" extensions=".jpg;.gif;.bmp;" resizeUploadedImages="true">
      <sizes>
        <add name="thumb" width="50" height="50" mode="Fill" />
        <add name="wide" width="960" height="480" mode="Fill" />
      </sizes>
    </images>
  </lunz.web>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>