<!-- BEGIN STYLE CUSTOMIZER(optional) -->
<div data-ng-include="'navigation/themepanel'" data-ng-controller="ThemePanelController" class="theme-panel hidden-xs hidden-sm">
</div>
<!-- END STYLE CUSTOMIZER -->