@{Html.RenderPartial("LayoutPartials/PageHeader");}

<div class="row">
    <div class="col-md-12">

        <table class="table table-striped table-bordered table-hover" id="dataTable">
            <thead>
            </thead>
            <tbody></tbody>
        </table>

        <div class="btn-group btn-group-xs actions" style="display:none;">
            <button class="btn btn-link" data-action="print"><i class="fa fa-edit"></i> 打印</button>
        </div>
    </div>
</div>