<div>

    <input type="button" name="print" value="打印" onclick="preview()">
    @*<input type="button" value="打印预览" onclick="printPreivew()" />*@  

    <!--startprint-->
    <div ng-bind-html="text"></div>
    <!--endprint-->
    <OBJECT id="WebBrowser1" height=0 width=0 classid=CLSID:8856F961-340A-11D0-A96B-00C04FD705A2 name=wb></OBJECT>  
</div>
