<div class="page-toolbar">
    <div class="btn-group pull-right">
        <a href="#" data-ng-click="edit()" class="btn btn-fit-height grey-salt"><i class="fa fa-edit"></i> 编辑</a>
        <a href="#" data-ng-click="refresh()" class="btn btn-fit-height grey-salt"><i class="fa fa-refresh"></i> 刷新</a>
    </div>
</div>