<div class="page-toolbar">
    <div class="btn-group pull-right">
        <a href="#" data-ng-click="Calculator()" class="btn btn-fit-height grey-salt"><i class="fa fa-file-o"></i> 产品计算器</a>
        <a href="#" data-ng-click="add()" class="btn btn-fit-height grey-salt"><i class="fa fa-file-o"></i> 新增个人</a>
        <a href="#" data-ng-click="add()" class="btn btn-fit-height grey-salt"><i class="fa fa-file-o"></i> 新增企业</a>
        <a href="#" data-ng-click="refresh()" class="btn btn-fit-height grey-salt"><i class="fa fa-refresh"></i> 刷新</a>
    </div>
</div>