<h3 class="page-title">
    易贷通平台管理系统
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">产品管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">申请表格-个人版</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    个人汽车融资租赁申请表
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <form action="#" class="form-horizontal form-bordered">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2">租购车辆信息</label>
                            <label class="col-md-4 control-label"></label>
                            <label class="col-md-2">开票经销商</label>
                            <label class="col-md-4 control-label"></label>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">客户来源</label>
                            <div class="checkbox-list col-md-4">
                                <label class="checkbox-inline">
                                    <input type="checkbox"> 本展厅客户
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox"> 二级网点客户
                                </label>
                            </div>
                            <label class="control-label col-md-2">二级网点客户</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="二级网点客户">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">车辆品牌</label>
                            <div class="col-md-2">
                                <select class="form-control">
                                    <option>请选择</option>
                                    <option>北京现代</option>
                                    <option>广汽本田</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2">车辆型号</label>
                            <div class="col-md-2">
                                <select class="form-control">
                                    <option>请选择</option>
                                    <option>第9雅阁</option>
                                    <option>IX35</option>
                                    <option>伊兰特</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2">车辆颜色</label>
                            <div class="col-md-2">
                                <select class="form-control">
                                    <option>请选择</option>
                                    <option>白色</option>
                                    <option>黑色</option>
                                    <option>红色</option>
                                    <option>银色</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">产品名称</label>
                            <div class="col-md-2">
                                <select class="form-control">
                                    <option>请选择</option>
                                    <option>本额等息</option>
                                    <option>智慧贷款</option>
                                    <option>50-50</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2">车辆指导价</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <label class="control-label col-md-2">GPS价格</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-1">车价</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <label class="control-label col-md-1">购置税</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <label class="control-label col-md-1">保险费</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <label class="control-label col-md-1">租赁项目总额</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-1">首付比例</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <label class="control-label col-md-1">押金比例</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <label class="control-label col-md-1">留购价款</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <label class="control-label col-md-1">申请租赁期限</label>
                            <div class="col-md-2">
                                <select class="form-control">
                                    <option>请选择</option>
                                    <option>一年期</option>
                                    <option>二年期</option>
                                    <option>三年期</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-1">首付金额</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <label class="control-label col-md-1">押金金额</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <label class="control-label col-md-1">其他融资项</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <label class="control-label col-md-1">其他融资金额</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-offset-0 col-md-12 font-xs">
                                注：1. 购置税申请金额不得高于车辆开票价的8%
                                </br>
                                &nbsp;&nbsp;2. 车辆保险购买：交强险、 车辆损失险、第三者责任（保额 20 万元人民币）、不计免赔险车辆盗抢为必保种 万元人民币）
                            </label>
                        </div>

                        <div class="form-group bg-grey-silver">
                            <label class="control-label col-md-6">申请人信息</label>
                            <label class="control-label col-md-6"></label>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-2">申请人姓名</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" />
                            </div>
                            <label class="control-label col-md-2">性别</label>
                            <div class="col-md-2">
                                <label class="radio-inline"><input type="radio" name="optionsRadios" value="option1" checked> 男</label>
                                <label class="radio-inline"><input type="radio" name="optionsRadios" value="option2" checked> 女</label>
                            </div>
                            <label class="control-label col-md-2">出生日期</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">婚姻状况</label>
                            <div class="col-md-2">
                                <label class="radio-inline"><input type="radio" name="optionsRadios" value="option1" checked> 未婚</label>
                                <label class="radio-inline"><input type="radio" name="optionsRadios" value="option2" checked> 已婚</label>
                            </div>
                            <label class="control-label col-md-2">证件类型</label>
                            <div class="col-md-2">
                                <select class="form-control">
                                    <option>请选择</option>
                                    <option>身份证</option>
                                    <option>军官证</option>
                                    <option>教师证</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2">证件号码</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">手机</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">学历</label>
                            <div class="col-md-7">
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 初中
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 高中
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 大专
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 本科
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 硕士及以上
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 其他
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">现居住地地址</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">邮编</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">现居住地电话</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">现居地居住年限</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">住房所有权</label>
                            <div class="col-md-10">
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 自置无贷款
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 按揭
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 亲属楼宇
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 集体宿舍
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 租借
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 共有住宅
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 其他
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">购车目的</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">电子邮件</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">主要税后年收入</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">其他税后年收入</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">主要收入来源</label>
                            <div class="col-md-10">
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 工资
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 分红
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 销售佣金
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 自营收入
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 租金
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 其他
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">工作单位名称</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">单位电话</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">工作单位地址</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">邮编</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">职位</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">职称</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">本行业工作年限</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">入职日期</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">邮寄地址</label>
                            <div class="col-md-4">
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 居住地址
                                    </label>
                                    <label class="checkbox-inline" style="margin-left:-20px">
                                        <input type="checkbox"> 户籍地址
                                    </label>
                                    <label class="checkbox-inline" style="margin-left:-20px">
                                        <input type="checkbox"> 单位地址
                                    </label>
                                </div>
                            </div>
                            <label class="control-label col-md-1">民族</label>
                            <div class="col-md-1">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">户籍地址</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">邮编</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group bg-grey-silver">
                            <label class="control-label col-md-6">共同申请人信息</label>
                            <label class="control-label col-md-6"></label>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">姓名</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">出生日期</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">手机</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">子女人数</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">证件类型</label>
                            <div class="col-md-2">
                                <select class="form-control">
                                    <option>请选择</option>
                                    <option>身份证</option>
                                    <option>军官证</option>
                                    <option>教师证</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2">证件号码</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">学历</label>
                            <div class="col-md-10">
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 初中
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 高中
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 大专
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 本科
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 硕士及以上
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 其他
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">同住人口</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">现居地电话</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">居住地址</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">邮编</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">户籍地址</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">邮编</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">主要税后年收入</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">其他税后年收入</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">主要收入来源</label>
                            <div class="col-md-10">
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 工资
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 分红
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 销售佣金
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 自营收入
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 租金
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 其他
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">现工作单位名称</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">现工作单位电话</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">单位地址</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">邮编</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-1">职位</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-1">职称</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-1">本行业工作年限</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-1">入职日期</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group bg-grey-silver">
                            <label class="control-label col-md-6">驾驶证信息</label>
                            <label class="control-label col-md-6"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">车辆主驾驶人</label>
                            <div class="col-md-6">
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 申请人
                                    </label>
                                    <label class="checkbox-inline" style="margin-left:-20px">
                                        <input type="checkbox"> 共同申请人
                                    </label>
                                    <label class="checkbox-inline" style="margin-left:-20px">
                                        <input type="checkbox"> 担保人
                                    </label>
                                    <label class="checkbox-inline" style="margin-left:-20px">
                                        <input type="checkbox"> 其他
                                    </label>
                                </div>
                            </div>
                            <label class="control-label col-md-2">驾照号码</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group bg-grey-silver">
                            <label class="control-label col-md-6">紧急联系人信息</label>
                            <label class="control-label col-md-6"></label>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">姓名</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">与申请人关系</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">联系电话</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">住址</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group bg-grey-silver">
                            <label class="control-label col-md-6">担保人信息（如有）</label>
                            <label class="control-label col-md-6"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">担保人姓名</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">性别</label>
                            <div class="col-md-2">
                                <label class="radio-inline"><input type="radio" name="optionsRadios" value="option1" checked> 男</label>
                                <label class="radio-inline"><input type="radio" name="optionsRadios" value="option2" checked> 女</label>
                            </div>
                            <label class="control-label col-md-2">出生日期</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">证件类型</label>
                            <div class="col-md-2">
                                <select class="form-control">
                                    <option>请选择</option>
                                    <option>身份证</option>
                                    <option>军官证</option>
                                    <option>教师证</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2">证件号码</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">与申请人关系</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">手机</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">现居地电话</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">婚姻状况</label>
                            <div class="col-md-2">
                                <label class="radio-inline"><input type="radio" name="optionsRadios" value="option1" checked> 未婚</label>
                                <label class="radio-inline"><input type="radio" name="optionsRadios" value="option2" checked> 已婚</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">户籍地址</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">邮编</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">现居住地址</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">邮编</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">担保人配偶姓名</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">证件类型</label>
                            <div class="col-md-2">
                                <select class="form-control">
                                    <option>请选择</option>
                                    <option>身份证</option>
                                    <option>军官证</option>
                                    <option>教师证</option>
                                </select>
                            </div>
                            <label class="control-label col-md-2">证件号码</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">担保人税后年收入</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">担保人其他税后年收入</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">主要收入来源</label>
                            <div class="col-md-10">
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 工资
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 分红
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 销售佣金
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 自营收入
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 租金
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 其他
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">住房所有权</label>
                            <div class="col-md-10">
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 自置无贷款
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 按揭
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 亲属楼宇
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 集体宿舍
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 租借
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 共有住宅
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 其他
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">现工作单位名称</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">现工作单位电话</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">工作单位地址</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">邮编</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">职位</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">职称</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">本行业工作年限</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label">申请材料清单：（已提供可勾选）</label>
                                申请材料清单：（已提供可勾选）
                                </br>
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 身份证件
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 驾驶证或学车证明
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 婚姻关系证明
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 征信授权书
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 房产证
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 收入证明或经营材料
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> 近六个月银行流水
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                请仔细阅读并确认已理解本融资租赁申请表的全部内容后签署申请人申明：
                                <p>1、本人提供的所有文件资料及信息是完整、真实、合法有效的</p>
                                <p>2、本人无任何未清偿到期债务</p>
                                <p>3、本人授权公司，可就本申请向中国人民银行个人信用基础库采集有关承租相关人的个人信息</p>
                                <p>4、融资租赁公司有权为提供本次汽车融资租赁服务而使用本人的信息</p>
                                <p>5、本人已阅读全部申请材料，充分了解并清楚知晓该融资租赁产品的相关信息，并承若在申请成功后按时归还融资租金</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label col-md-3">申请人签字:</label>
                                <label class="control-label col-md-3">共同申请人签字:</label>
                                <label class="control-label col-md-3">担保人签字:</label>
                                <label class="control-label col-md-3"></label>
                            </div>
                            <div class="col-md-12">
                                </br>
                                </br>
                                <label class="control-label col-md-3">日期:</label>
                                <label class="control-label col-md-3">日期:</label>
                                <label class="control-label col-md-3">日期:</label>
                                <label class="control-label col-md-3"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <p>经销商承诺：如申请人审批通过，申请人与安吉租赁有限公司可据此申请签署《融资租赁/抵押合同》。按照有关《合作框架协议》（经销商与安吉租赁有限公司签订），对于上客户牌照的客户，经销商须协助或代为办理融资车辆的抵押手续，并将《机动车登记证书》等有关材料在融资放款后20日内交安吉租赁有限公司执管。在车辆抵押登记完成之前，经销商作为本次融资租赁的担保人，对承租人与安吉租赁有限公司签署的《融资租赁/抵押合同》中的全部租金及利息、滞纳金等承担连带担保责任。</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                申请人备注信息：
                                </br>
                                <textarea class="form-control" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="form-group bg-grey-silver">
                            <label class="control-label col-md-6">共同申请人信息</label>
                            <label class="control-label col-md-6"></label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">经销商代码</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">融资经理</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">经销商名称</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                            <label class="control-label col-md-2">联系电话</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="control-label col-md-3">经办人签字：</label>
                                <div class="col-md-9">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label col-md-3">经销商签字：</label>
                                <div class="col-md-9">
                                </div>
                            </div>
                        </div>






                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="submit" class="btn blue">提交</button>
                                <button type="button" class="btn default">取消</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>