<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="FluentValidationNA" version="1.2.16" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="Lunz.Authentication" version="0.0.1.04" targetFramework="net451" />
  <package id="Lunz.Data" version="0.0.1.04" targetFramework="net451" />
  <package id="Lunz.Services" version="0.0.1.04" targetFramework="net451" />
  <package id="Lunz.Web" version="0.0.1.04" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="System.Linq.Dynamic.Library" version="1.1.13" targetFramework="net451" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net451" />
</packages>