@{Html.RenderPartial("LayoutPartials/PageHeader");}

<div class="row">
    <div class="col-md-12">
        <table class="table  table-bordered table-hover" id="dataTable">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div class="btn-group btn-group-xs actions" style="display:none;">
            <button class="btn btn-link" data-action="moveUpRow"><i class="fa fa-chevron-up"></i> </button>
            <button class="btn btn-link" data-action="moveDownRow"><i class="fa fa-chevron-down"></i> </button>
            @*<button class="btn btn-link" data-action="editRow"><i class="fa fa-edit"></i> 编辑</button>
            <button class="btn btn-link" data-action="deleteRow"><i class="fa fa-times"></i> 删除</button>*@
            <button class="btn btn-link" data-action="editNextLevelRow"><i class="fa fa-edit"></i> 编辑子级</button>
        </div>
    </div>
</div>
