@{Html.RenderPartial("LayoutPartials/PageHeader");}

<div class="row">
    <div class="col-md-12">
        <table class="table  table-bordered table-hover" id="dataTable">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="btn-group btn-group-xs actions" style="display:none;">
            <button class="btn btn-link" data-action="editRow"><i class="fa fa-edit"></i> 编辑</button>
            <button class="btn btn-link" data-action="detailRow"><i class="fa fa-search-plus"></i> 查看</button>
        </div>
    </div>
</div>
