<div class="page-toolbar">
    <div class="btn-group pull-right">
        @*<a href="#" data-ng-click="add()" class="btn btn-fit-height grey-salt"><i class="fa fa-file-o"></i> 新建</a>
        <a href="#" data-ng-click="edit()" class="btn btn-fit-height grey-salt"><i class="fa fa-edit"></i> 编辑</a>
        <a href="#" data-ng-click="delete()"  class="btn btn-fit-height grey-salt"><i class="fa fa-times"></i> 删除</a>*@
        <a href="#" data-ng-click="refresh()" class="btn btn-fit-height grey-salt"><i class="fa fa-refresh"></i> 刷新</a>
        <a href="#/settings/datadictionary/list" class="btn btn-fit-height grey-salt"><i class="fa fa-arrow-circle-left"></i> 返回</a>
    </div>
</div>