<h3 class="page-title">
    易贷通平台管理系统
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">产品管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">申请表格-企业版</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="caption">
                    企业汽车融资租赁申请表
                </div>
            </div>
            <div class="panel-body form">
                <form class="form-horizontal form-bordered">

                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2">租购车辆信息</label>
                            <label class="col-md-4 control-label"></label>
                            <label class="col-md-2">开票经销商</label>
                            <label class="col-md-4 control-label"></label>
                        </div>

                        <div class="form-group">

                            <label class="control-label col-md-2">客户来源</label>


                            <div class="col-md-4">
                                <label class="checkbox-inline">
                                    <input type="checkbox"> 本展厅客户
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox"> 二级网点客户
                                </label>
                            </div>

                            <label class="control-label col-md-2">二级网点客户</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="二级网点客户">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">车辆品牌</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">车辆型号</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">车辆颜色</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">产品名称</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">车辆指导价</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">GPS 价格</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-1">车价</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-1">购置税</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-1">保险费</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-1">租赁项目总额</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">首付比例</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-1">押金比例</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-1">留购价款</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-1">申请租赁期限</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-1">首付金额</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-1">押金金额</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-1">其他融资项</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-1">其他融资金额</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>

                        <div class="form-group col-lg-12">
                            注：
                            <ol>
                                <li>购置税申请金额不得高于车辆开票价的8%</li>
                                <li>车辆保险购买：交强险、车辆损失险、第三者责任险（保额20 万元人民币）、不计免赔险、车辆盗抢险为必保险种</li>
                            </ol>
                        </div>

                        <div class=" form-group bg-grey-silver col-lg-12 text-center">
                            <h3>企业基本信息</h3>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">单位名称</label>
                            <div class="col-md-6"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">公司类型</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">组织机构代码</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">注册资本</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">员工人数</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">营业执照注册号</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">贷款卡号码</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">贷款卡密码</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">注册成立日期</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">营业执照有效期至</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">股东人数</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">注册地址</label>
                            <div class="col-md-6"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">邮编</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">实际经营地址</label>
                            <div class="col-md-6"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">邮编</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">单位电话</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-1">单位传真</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">场地所有权</label>
                            <div class="col-md-3">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 自有
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 租赁
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">开户银行</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">银行账号</label>
                            <div class="col-md-6"><input type="text" class="form-control" placeholder=""></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">财务经理姓名</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">联系人姓名</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">联系人手机</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>

                        <div class=" form-group bg-grey-silver col-lg-12 text-center">
                            <h3>企业股东信息</h3>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">股东人数</label>
                            <div class="col-md-10"><input type="text" class="form-control" placeholder=""></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">第一大股东名称</label>
                            <div class="col-md-3"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-3">身份证号码/营业注册号</label>
                            <div class="col-md-4"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">持股比例</label>
                            <div class="col-md-3"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-3">地址</label>
                            <div class="col-md-4"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">邮编</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">联系人</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">电话</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">第二大股东名称</label>
                            <div class="col-md-3"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-3">身份证号码/营业注册号</label>
                            <div class="col-md-4"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">持股比例</label>
                            <div class="col-md-3"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-3">地址</label>
                            <div class="col-md-4"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">邮编</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">联系人</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">电话</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class=" form-group bg-grey-silver col-lg-12 text-center">
                            <h3>联合承租人（法人代表、控股股东）信息</h3>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">姓名</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">证件类型</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">证件号码</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">婚姻状况</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">学历</label>
                            <div class="col-md-6">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 初中
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 高中
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 大专
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 本科
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 硕士及以上
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 其他
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">手机号码</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">居住地址</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">居住地电话</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">公司电话</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">公司传真</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">住房所有权</label>
                            <div class="col-md-10">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 自置无贷款
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 按揭
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 亲属楼宇
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 集体宿舍
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 租借
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 共有住宅
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 其他
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">户籍地址</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">公司职位</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">职称</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">入职日期</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">持股比例</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">税后年收入</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">购车目的</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">驾驶证信息</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">车辆主驾人</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">联系手机</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">驾照号码</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">紧急联系人信息</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">姓名</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">与公司关系</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">联系电话</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">住址</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class=" form-group bg-grey-silver col-lg-12 text-center">
                            <h3>担保人信息（如有）</h3>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">担保人姓名</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">性别</label>
                            <div class="col-md-2">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 男
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 女
                                </label>
                            </div>
                            <label class="control-label col-md-2">出生日期</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">证件类型</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">证件号码</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">与公司关系</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">手机</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">现居住地电话</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">婚姻状况</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">户籍地址</label>
                            <div class="col-md-6"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">邮编</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">现居住地地址</label>
                            <div class="col-md-6"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">邮编</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">担保人配偶姓名</label>
                            <div class="col-md-3"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-3">担保人其他税后年收入</label>
                            <div class="col-md-3"><input type="text" class="form-control" placeholder=""></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">主要收入来源</label>
                            <div class="col-md-10">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 工资
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 分红
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 销售佣金
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 自营收入
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 租金
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 其它
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">住房所有权</label>
                            <div class="col-md-10">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 自置无贷款
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 按揭
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 亲属楼宇
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 集体宿舍
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 租借
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 共有住宅
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 其它
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">现工作单位名称</label>
                            <div class="col-md-3"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-3">现工作单位电话</label>
                            <div class="col-md-3"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">工作单位地址</label>
                            <div class="col-md-4"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-3">邮编</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">职位</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">入职日期</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">本行业工作年限</label>
                            <div class="col-md-2"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <p>申请材料清单：（已提供可勾选）</p>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 营业执照
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 组织机构代码证
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 税务登记证
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 贷款卡卡号及密码
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 公司财务报表
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 验资报告或公司章程
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 联合承租人身份证件
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 征信授权书
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 驾驶证
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 房产证
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 近6个月银行流水账单
                                </label>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <p>请仔细阅读并确认已理解本融资租赁申请表的全部内容后签署申请人申明：</p>
                            <ol>
                                <li>本申请人提供的所有文件资料及信息是完整、真实、合法有效的；</li>
                                <li>本申请人无任何未清偿到期债务；</li>
                                <li>本申请人授权安吉租赁有限公司或其他授权代理人，可就本申请向中国人民银行个人信用信息基础库采集有关承租相关人的有关信息；</li>
                                <li>安吉租赁有限公司有权为提供本次汽车融资租赁服务而使用本人的信息；</li>
                                <li>本申请人已阅读全部申请材料，充分了解并清楚知晓该融资租赁产品的相关信息，并承诺在申请成功后按时归还融资租金。</li>
                            </ol>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">申请人公章：<textarea class="form-control" rows="4"></textarea></div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">联合承租人签字：<input type="text" class="form-control" placeholder=""></div>
                                    <div class="col-md-6">担保人签字：<input type="text" class="form-control" placeholder=""></div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">日期：<input type="text" class="form-control" placeholder=""></div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">日期：<input type="text" class="form-control" placeholder=""></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            &nbsp;&nbsp;经销商承诺：如申请人审批通过，申请人与安吉租赁有限公司可据此申请签署《融资租赁/抵押合同》。按照有关《合作框架协议》（经销商与安吉租赁有限公司签订），对于上客户牌照的客户，经销商须协助或代为办理融资车辆的抵押手续，并将《机动车登记证书》等有关材料在融资放款后20日内交安吉租赁有限公司执管。在车辆抵押登记完成之前，经销商作为本次融资租赁的担保人，对承租人与安吉租赁有限公司签署的《融资租赁/抵押合同》中的全部租金及利息、滞纳金等承担连带担保责任。
                        </div>
                        <div class="form-group col-md-12">
                            申请备注信息：<textarea class="form-control" rows="4"></textarea>
                        </div>
                        <div class=" form-group bg-grey-silver col-lg-12 text-center">
                            <h3>经销商信息</h3>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">经销商代码</label>
                            <div class="col-md-3"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-3">融资经理</label>
                            <div class="col-md-3"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">经销商名称</label>
                            <div class="col-md-3"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-3">联系电话</label>
                            <div class="col-md-3"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">经办人签字：<textarea class="form-control" rows="4"></textarea></div>
                            <div class="col-md-6">经销商签章：<textarea class="form-control" rows="4"></textarea></div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label col-md-2">租购车辆信息:</label>
                            <div class="col-md-4"><input type="text" class="form-control" placeholder=""></div>
                            <label class="control-label col-md-2">开票经销商:</label>
                            <div class="col-md-4"><input type="text" class="form-control" placeholder=""></div>
                        </div>
                    </div>

                    <div class="form-actions col-md-12">
                        <div class="row">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="submit" class="btn blue">提交</button>
                                <button type="button" class="btn default">取消</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>