<!-- BEGIN PAGE HEADER-->

<h3 class="page-title">
    易贷通平台管理系统
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">主页面</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">概览</a>
        </li>
    </ul>
</div>

<div class="clearfix">
</div>
<div class="row ">
    <div class="col-md-6 col-sm-6">
        <div class="portlet box blue-steel">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bell-o"></i>代办任务
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                    <ul class="feeds">
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col2">
                                        <div class="desc">
                                            <a href="#">客户开发</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date">
                                    2015-3-2
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col2">
                                            <div class="desc">
                                                <a href="#">客户跟踪</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-2
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">

                                        <div class="cont-col2">
                                            <div class="desc">
                                                销售导购
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-5
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">

                                        <div class="cont-col2">
                                            <div class="desc">
                                                销售成交
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-5
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">

                                        <div class="cont-col2">
                                            <div class="desc">
                                                开发潜在目标客户，按时完成汽车销量指标.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-6
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">

                                        <div class="cont-col2">
                                            <div class="desc">
                                                按规范流程接待客户
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-6
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">

                                        <div class="cont-col2">
                                            <div class="desc">
                                                客户提供优质的售车咨询、配套服务
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-6
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">

                                        <div class="cont-col2">
                                            <div class="desc">
                                                协助客户办理车辆销售的相关手续
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-7
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">

                                        <div class="cont-col2">
                                            <div class="desc">
                                                积极上报并解决售车过程中出现的问题
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-7
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="#">查看全部</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6 col-sm-6">

        <div class="portlet box blue-steel">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i>已办任务
                </div>
            </div>
            <div class="portlet-body" style="height:348px">
                <div class="task-content">
                    <div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="1">
                        <!-- START TASK LIST -->
                        <ul class="feeds">
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col2">
                                            <div class="desc">
                                                <a href="#">开发潜在目标客户</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-2
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    <a href="#">完成汽车销量指标</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            2015-3-2
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="col1">
                                        <div class="cont">

                                            <div class="cont-col2">
                                                <div class="desc">
                                                    按规范流程接待客户
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            2015-3-5
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="col1">
                                        <div class="cont">

                                            <div class="cont-col2">
                                                <div class="desc">
                                                    向客户提供优质的售车咨询、配套服务
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            2015-3-5
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="col1">
                                        <div class="cont">

                                            <div class="cont-col2">
                                                <div class="desc">
                                                    协助客户办理车辆销售的相关手续
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            2015-3-6
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- END START TASK LIST -->
                    </div>
                </div>
                <div class="task-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="#">查看全部</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-md-6 col-sm-6">
        <div class="portlet box blue-steel">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bell-o"></i>通知公告
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                    <ul class="feeds">
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col2">
                                        <div class="desc">
                                            <a href="#">传统车贷方式与信用卡分期付款买车的区别</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date">
                                    2015-3-2
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col2">
                                            <div class="desc">
                                                <a href="#">招行贷款买车的业务流程</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-2
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">

                                        <div class="cont-col2">
                                            <div class="desc">
                                                贷款买车业务的基本介绍
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-5
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">

                                        <div class="cont-col2">
                                            <div class="desc">
                                                存了一笔钱，是买房保值，还是买车方便跑业务
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-5
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">

                                        <div class="cont-col2">
                                            <div class="desc">
                                                开发潜在目标客户，按时完成汽车销量指标.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-6
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">

                                        <div class="cont-col2">
                                            <div class="desc">
                                                按规范流程接待客户
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-6
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">

                                        <div class="cont-col2">
                                            <div class="desc">
                                                客户提供优质的售车咨询、配套服务
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-6
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">

                                        <div class="cont-col2">
                                            <div class="desc">
                                                协助客户办理车辆销售的相关手续
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-7
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="col1">
                                    <div class="cont">

                                        <div class="cont-col2">
                                            <div class="desc">
                                                积极上报并解决售车过程中出现的问题
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-7
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="#">查看全部</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6 col-sm-6">
        <div class="portlet box blue-steel">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-check"></i>系统通知
                </div>
            </div>
            <div class="portlet-body" style="height:348px">
                <div class="task-content">
                    <div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="1">
                        <!-- START TASK LIST -->
                        <ul class="feeds">
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col2">
                                            <div class="desc">
                                                <a href="#"> 本系统更新提示</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        2015-3-2
                                    </div>
                                </div>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    <a href="#">系统更新了那些功能</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            2015-3-2
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="col1">
                                        <div class="cont">

                                            <div class="cont-col2">
                                                <div class="desc">
                                                    系统将在2月26日24时更新
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            2015-2-26
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="col1">
                                        <div class="cont">

                                            <div class="cont-col2">
                                                <div class="desc">
                                                    存了一笔钱，是买房保值，还是买车方便跑业务
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            2015-3-5
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="col1">
                                        <div class="cont">

                                            <div class="cont-col2">
                                                <div class="desc">
                                                    开发潜在目标客户，按时完成汽车销量指标.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date">
                                            2015-3-6
                                        </div>
                                    </div>
                                </a>
                            </li>

                        </ul>

                        <!-- END START TASK LIST -->
                    </div>
                </div>
                <div class="task-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="#">查看全部</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<!-- END MAIN CONTENT -->
